html{
    font-size: 100%;
}
.slogan {
    position: absolute;
    font-size: 2rem;
    left: 50%;
    top: 2%;
}
.logo {
    position: static;
    max-width: 100%;
    height: auto;
    width: 15.625rem;
}
.promo {
    max-width: 100%;
    width: 100%;
    height: auto;
}
:any-link{
    color:white
}
@media screen and (min-width: 768px)
{
    .box {
        position: absolute;
        border: black;
        background-color: grey;
        width: 23.3125rem;
        height: 29.5rem;
        left: 80%;
}
    .navigation {
        background-color: black;
        color: white;
        padding: 1.5625rem 0rem 1.5625rem 3.125rem;
}
    .mobile{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .navigation{
        display:none
    }
    .mobile{
    background-color: black;
    }
    .box {
        display: none;
    }
}
/* selectionner un élément sans classe -> juste l'écrire ex: body{}, footer{},header{}, ...
élément avec une classe -> écrire avec un point devant
s'il s'agit d'une pseudo-classe, c'est deux point ex: :any-link,:visited,:only-of-type*/ 