html {
    font-style: normal;
}

.photo {
    max-width: 500px;
    max-height: 500px;
    margin-left: -15px;
    width: auto;
    height: auto;
}

p {
    font-weight: bold;
    font-style: normal;
    font-size: 1.2em;
}


pre {
    font-weight: bold;
    font-style: normal;
    font-size: 1.2em;
}
u {
    font-weight: bold;
    font-style: normal;

    font-size: 1.2em;
}

span {
    color: red;
}